bin/.vector_cache
src/.vector_cache
src/data/__pycache__
src/embedding/__pycache__
src/model/__pycache__
src/util/__pycache__
/.vector_cache
/log
/pickles
/checkpoint
/datasets
.DS_Store
/fasttext
src/supervised_term_weighting/__pycache__/
/out
bin/wandb/
*.pt
